.bio
    @extend %content
    grid-column: 3 / 8
    grid-row: 3 / 10
    text-align: right

    p
        margin: 0px 0px 16px 0px

    .accent
        margin-left: 55%

@media only screen and (max-width: $mobile-medium)
    .bio
        grid-column: 1 / 6
        grid-row: 7 / 13
