@import "variables"

html, body
    height: 100%
    color: $gris-dark-grey
    background-color: $gris-white

*, *:before, *:after
    box-sizing: border-box

@import "container"
@import "header"
@import "section"
@import "jobentry"
@import "educationentry"
