@import "variables"

html, body
    height: 100%
    color: $gris-dark-grey
    background-color: $gris-white

*, *:before, *:after
    box-sizing: border-box

h1
    font-size: 32px
    line-height: 35px
    margin: 0px

p
    margin: 0px

@import "container"
@import "header"
@import "title"
@import "bio"
@import "links"
@import "employment"
@import "education"
